# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Dependencies and build outputs
**/node_modules/
**/.venv/
**/dist/
**/target/
out/
**/*.tar
**/*.zip

# Local configs / secrets
.env
local.properties
